{% extends "base.html" %}
{% import "blocks/content-navigator.html" as nav %}
{% block splash %}About{% endblock %}

{% block page_content %}

<div class="splash-container">
  <div class="container">
        <section class="splash-header-content">
          <h1 class="heading main">Why Vape?</h1> 
          <p>
            At ZampleBox, we're passionate about changing lives for the better. We firmly believe in second changes and want to help our family of vapers succeed. we vape for life: to both promote life and to vape as a lifestle change for hte betterment of society. We're out to change the world and save lives by making vaping more fun, easyc and accessible. Learn more about why vaping is the one and only alternative to cigarettes.
          </p>
          <div class="splash-indicator-wrapper">
            <div class="scroll-indicator" id="indicator">
            </div>
          </div>
        </section>
  </div>
</div>
<div class="splash-container infographic-1">
  <div class="container">
  <section class="info-text">
      <h1 class="heading">The Vaporizer</h1>
      <p>
        At first glance, a vaporizer is intimidating. But if you break it up into its components' it's easy to see and undersand the science behind vapor.
      </p>
      <article class="infographic-container">
        <div id="vape-toggle" class="infographic left-graphic full-graphic overlap">
          <script>
            window.vapeMobileURL = "https:{{ 'images/mobile_vape_pen.jpg' | asset_url }}";
            window.vapeWideURL = "https:{{ 'images/vaporizer.png' | asset_url }}";
          </script>
          {% set graphic = 'images/vaporizer.png' %}
          {{ graphic | asset_url | img_tag }}
          <div class="graphics-share-wrapper">
            {% include "blocks/sharing.html" %}
          </div>
        </div>
      </article>
    </section>
  </div>
</div>
<div class="splash-container infographic-2">
  <div class="container">
  <section class="info-text">
      <h1 class="heading">What is EJuice?</h1>
      <p>
        E-liquids contain a mixture of propylene glycol, vegetablke glycerin, nicotine, and food-grade falvorings. The atomizer heats the e-liquid which then creates the vapor. At ZampleBox, our standards are high. we accept less than 3% of e-liquid companies that want their products in our boxes, ensuring that our customers are always vaping the best and cleanest e-liquid.
      </p>
      <article class="infographic-container">
        <div class="infographic left-graphic half-graphic">
          {{ 'images/vape_liquids.png' | asset_url | img_tag }}
          <div class="graphics-share-wrapper">
            {% include "blocks/sharing.html" %}
          </div>
        </div>
        <div class="infographic right-graphic half-graphic">
          {{ 'images/vape_bad_cigs.png' | asset_url | img_tag }}
          <div class="graphics-share-wrapper">
            {% include "blocks/sharing.html" %}
          </div>
        </div>
      </article>
    </section>
  </div>
</div>
<div class="splash-container infographic-3">
  <div class="container">
  <section class="info-text">
      <h1 class="heading">Why ZampleBox?</h1>
      <p>
        ZampleBox is a delicious assortment of the best and cleanest e-juices on the market. Every month, we'll send you a custom -tailored ZampleBox packed with e-liquids at up to 70% off retail value. We offer variety, quality, and fun, but most importantly, we offer community. We take pride in being a community first and a service second. Everything we do revolves around improving the quality of life for our international family of vapers.
      </p>
      <article class="infographic-container">
        <div class="infographic left-graphic full-graphic">
          {% set graphic = 'images/equipmentfull.png' %}
          {{ graphic | asset_url | img_tag }}
          <div class="graphics-share-wrapper">
            {% include "blocks/sharing.html" %}
          </div>
        </div>
      </article>
    </section>
  </div>
</div>
<div class="splash-container action">
  <div class="container">
    <section class="text-center button-bottom">
      <a href="/subscribe">
          <button type="button" class="btn-action">Subscribe</button>
      </a>
    </section>
    <section class="tagboard">
      <div id="tagboard-embed"></div>
      <script>var tagboardOptions = {tagboard:"WhyIVape/185112", postCount: 20, mobilePostCount: 10, darkMode: true, autoLoad: true};</script>
      <script src="https://tagboard.com/public/js/embed.js"></script>
    </section>
  </div>
</div>


{% endblock %}
 